{% extends 'hybrid/main.html'%}

{% block content %}

<div class="container">
    <div class="container-fluid p-0">
		<h1 class="h3 mb-3">Members</h1>
		<div class="row">
			<div class="col-xl-8">
				<div class="card">
					<div class="card-header pb-0">
						<div class="card-actions float-right">
							<div class="dropdown show">
								<a href="#" data-toggle="dropdown" data-display="static">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
								</a>

								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
						<h5 class="card-title mb-0">Members</h5>
					</div>
					<div class="card-body">
						<table class="table table-striped" style="width:100%">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Email</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>ayush kumar</td>
									<td>ayush@gmail.com</td>
									<td><span class="badge bg-warning">Moderator</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>kaushal</td>
									<td>kaushal@gmail.com</td>
									<td><span class="badge bg-success">peasent</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Avinash Singh</td>
									<td>avinash@gmail.com</td>
									<td><span class="badge bg-success">peasent</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Bishal roy</td>
									<td>bishal@gmail.com</td>
									<td><span class="badge bg-warning">peasent</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Sidhart</td>
									<td>sidhart@gmail.com</td>
									<td><span class="badge bg-warning">Admin</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Himanshu</td>
									<td>himanshu@gmail.com</td>
									<td><span class="badge bg-success">peasent</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Shubham</td>
									<td>shubham@gmail.com</td>
									<td><span class="badge bg-warning">Admin</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar3.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Michael Silva</td>
									<td>michael@silva.com</td>
									<td><span class="badge bg-success">peasent</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar3.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Angelica Ramos</td>
									<td>angelica@ramos.com</td>
									<td><span class="badge bg-success">peasent</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar4.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Jennifer Chang</td>
									<td>jennifer@chang.com</td>
									<td><span class="badge bg-success">peasent</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar4.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Brenden Wagner</td>
									<td>brenden@wagner.com</td>
									<td><span class="badge bg-success">peasent</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar4.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Fiona Green</td>
									<td>fiona@green.com</td>
									<td><span class="badge bg-success">peasent</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar5.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Prescott Bartlett</td>
									<td>prescott@bartlett.com</td>
									<td><span class="badge bg-success">peasent</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar5.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Gavin Cortez</td>
									<td>gavin@cortez.com</td>
									<td><span class="badge bg-success">peasent</span></td>
								</tr>
								<tr>
									<td><img src="https://bootdey.com/img/Content/avatar/avatar5.png" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td>Howard Hatfield</td>
									<td>howard@hatfield.com</td>
									<td><span class="badge bg-success">peasent</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			

					</div>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock%}